name: GitHub Release

on:
  push:
    tags: ['*']

env:
  RUSTFLAGS: -Dwarnings

jobs:
  build_and_release:
    name: Create GitHub Release
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - uses: dtolnay/rust-toolchain@stable
    - uses: jetli/wasm-pack-action@v0.4.0
      with:
        version: 'latest'
    - uses: actions/setup-node@v4
      with:
        node-version: '20'
    - uses: Swatinem/rust-cache@v2
      with:
        workspaces: rust
    - uses: actions/cache@v5
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-

    - run: make ci.artifact

    - name: Release artifact
      uses: ncipollo/release-action@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        artifacts: "${{ github.workspace }}/lambda/function.zip"
        # use Markdown; or use bodyFile: release.md
        body: |
          _automatically created release_
